@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif !important;
}

body {
    background: #f1efef;
}

a {
    color:#000000;
    font-weight:bold;
}

main {
    max-width:960px;
    margin:3em auto 0;
    background:#ffffff;
    color: #8c8787;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.33);
}

#l_section img.brand {
	margin:2rem 0 0 2rem;
}

#l_section h1 {
    margin:5rem 0 1rem 2rem;
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
}

#l_section h1 span.brand-name {
    color:#000000;
}

#l_section p {
    font-size:  1.25rem;
    margin:0 0 2rem 2rem;
}

#l_section fieldset {
	border: 0px;
	margin:0 2rem;
}

.input-group {
    border:1px solid #e2e1e1;
    padding:0.75rem;
    font-size:0.9rem;
    transition-duration: 0.1s
}

.input-group.last {
	border-top:0px;
}

.input-group input[type='email'], .input-group input[type='password'] {
    box-shadow:none;
    border:none;
    width:100%;
    font-size:1rem;
    font-weight:bold;
    color:#000000;
    padding:0px;
    margin:0px;
}

.input-group:focus-within {
    border-left:4px solid #f6e122;
}

.form-footer {
    margin:2rem 0 1rem;
    border:0px;
}

.form-footer a {
    text-align:right;
}

.vc-btn {
	min-width:6rem;
	border-radius:1rem;
	background:#ffffff;
	border:2px solid #100F0B;
	color:#100F0B;
}

.vc-btn:hover {
	background:inherit;
}

.vc-btn.pure-button-primary {
	background: #100F0B;
	color:#ffffff;
}

#l_section p.toc-notice {
	font-size:0.8rem;
	margin-right:2rem;
    line-height:1.3rem;
}

#r_section {
	background:url('../img/bg.jpg') no-repeat center;
	background-size: cover;
}

.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-top:0.5rem;
    margin-left:0.5rem;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link {
    color: white;
    text-transform:uppercase;
    font-weight:normal;
    font-size:0.8rem;
    border:2px solid transparent;
    transition:all 0.4s ease-out;
}

.custom-menu .pure-menu-link:hover, .custom-menu .pure-menu-link:focus {
    background-color: transparent;
    border:2px solid #ffffff;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (max-width: 48em){
    main {
        margin:0;
        min-height:100vh;
        min-width:100vw;
        box-shadow:none;
    }

    #l_section {
        order:2;
    }

    #r_section {
        order:1;
        min-height:20vh;
    }

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
        z-index:1000;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 95%;
        background-color: transparent;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
}
